option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: inventory_management.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: inventory_management.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true

